*{margin:0; padding: 0;}
*{text-decoration: none;}
kbd{
    border:1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > button{
    right: 0; 
    bottom: 0;
    position: absolute;
    display:none;
}
kbd:hover > button{
    display: inline-block;
}
main{
    text-align: center;
}
#x{
    display: inline-block;
}
#x >div:nth-child(2){
    margin-left: 2em;
}
#x>div:nth-child(3){
    margin-left: 4em;
}